@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Popups
@using Syncfusion.Blazor.Inputs

<div class="container">
    <div class="card border-dark mx-auto" style="width:75%">
        <div class="card-header" style="background-color:white">
            <h2>@Model.Name</h2>
        </div>
        <img src="@Model.Image" class="card-img-top" />
        <div class="card-body">
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <th>Release Date</th>
                        <td>@Model.ReleaseDate</td>
                    </tr>
                    <tr>
                        <th>Actor(s)</th>
                        <td>
                            @foreach (var actor in Model.Actors)
                            {
                            <p>
                                @actor.Name
                            </p>
                            }

                        </td>
                    </tr>
                    <tr>
                        <th>Genre(s)</th>
                        <td>
                            @foreach (var genre in Model.Genres)
                            {
                            <p>@genre.Name</p>
                            }
                        </td>
                    </tr>
                    <tr>
                        <th>Duration</th>
                        <td>@Model.Duration min</td>
                    </tr>
                    <tr>
                        <th>Rating</th>
                        <td>@Model.AverageRating/10</td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>@Model.Description</td>
                    </tr>
                    <tr>
                        <th>Trailer</th>
                        <td>
                            @if (!string.IsNullOrWhiteSpace(Model.EmbeddedTrailerUrl))
                            {
                            <iframe src="@Model.EmbeddedTrailerUrl" height="300" frameborder="0"> </iframe>
                            }
                            else
                            {
                            <p>No trailer has been added yet.</p>
                            }
                        </td>
                    </tr>
                </tbody>
            </table>
            <br />
            <button class="btn-danger btn-block" @onclick="@OpenDialog">Delete</button>
            <a href="/movies/edit/@Model.Id" class="btn btn-primary btn-block">Edit</a>
        </div>
    </div>
</div>

<SfDialog Width="250px" ShowCloseIcon="true" IsModal="true" @bind-Visible="@IsVisible">
    <DialogTemplates>
        <Header> Delete @Model.Name </Header>
        <Content> Are you sure you want to delete @Model.Name? </Content>
    </DialogTemplates>
    <DialogButtons>
        <DialogButton Content="Yes" IsPrimary="true" OnClick="@ConfirmDelete" />
        <DialogButton Content="No" OnClick="@CloseDialog" />
    </DialogButtons>
</SfDialog>


@code {

    [Parameter]
    public MovieResponseDto Model { get; set; }

    [Parameter]
    public EventCallback ConfirmDelete { get; set; }

    [Parameter]
    public EventCallback CloseDialog { get; set; }

    [Parameter]
    public EventCallback OpenDialog { get; set; }

    [Parameter]
    public bool IsVisible { get; set; }

}
